<div class="card" ng-hide="edit" ng-click="edit=true">
    <h4> {{ card.title }}</h4>
    <span class="description"> {{ card.description }} </span>
   <div> Points: {{ card.story_points }},
    Value: {{ card.business_value }}
   </div>

</div>

<div class="card" ng-show="edit" >
    <div class="flex" ng-model-options="modelOptions">
        <label><strong> Title: </strong></label>
        <input type="text"
               ng-model="card.title"
               ng-change="update()"/>
    </div>
    <textarea ng-model="card.description"
              ng-change="update()"
              placeholder="Enter a description..." ></textarea>
    <div>
        <label> List: </label>
        <select ng-options="list as list.name for list in data" ng-model="destList"> </select>
        <button ng-click="move()"> Move </button>
    </div>
     <input type="text"
            ng-model="card.business_value"
            ng-change="update()"/>
    <input type="text"
               ng-model="card.story_points"
               ng-change="update()"/>
    <button ng-click="edit=false"> Close </button>
    <button ng-click="delete()"> Delete Card </button>
</div>